<link rel="stylesheet" href="../styles/components/footer.css">
<div class="footer">
    <div class="footer-links">
        <a href="https://riotgames.sng.link/Dnyzj/csgh" class="footer-link">DOWNLOAD RIOT MOBILE COMPANION APP</a>
    </div>

    <div class="footer-social-icons">
        <a href="https://www.facebook.com/playvalorant/" class="social-icon"><img src="../assets/images/icons/fb.png" alt="Facebook"></a>
        <a href="https://www.youtube.com/@Valorant" class="social-icon"><img src="../assets/images/icons/yt.png" alt="YouTube"></a>
        <a href="https://twitter.com/VALORANTukn" class="social-icon"><img src="../assets/images/icons/x.png" alt="Twitter"></a>
        <a href="https://instagram.com/valorant" class="social-icon"><img src="../assets/images/icons/ig.png" alt="Instagram"></a>
    </div>

    <div class="footer-logos">
        <img src="../assets/images/icons/val-inv.png" alt="Valorant" class="footer-logo">
    </div>

    <div class="footer-text">
        <p>&copy; 2024 Valorant Fan Project. All rights reserved.</p>
  <p>This project is not affiliated with or endorsed by Riot Games. All images, videos, and content are used for educational purposes only.</p>
    </div>

    <div class="footer-icons">
        <img src="../assets/images/icons/age-rating.jpg" alt="Age Rating" class="footer-rating-icon">
        <img src="../assets/images/icons/violence.png" alt="Violence" class="footer-rating-icon">
        <img src="../assets/images/icons/purchases.png" alt="In-Game Purchases" class="footer-rating-icon">
    </div>
</div>
