/* Style the header */
header {
    font-family: 'Montserrat', Arial, sans-serif;
    text-transform: uppercase;
    background: #111111;
    color: #f9f9f9;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

/* Style the navigation */
nav {
    margin: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #f9f9f9;
    padding: 20px;
    position: relative;
}

nav ul li a:hover {
    color: #ff4655;
    background-color: #333333;
    border-radius: 15px;
}

nav ul li a::after {
    content: ""; 
    position: absolute;
    bottom: 10px; 
    left: 10%; 
    width: 80%; 
    height: 3px; 
    background-color: #ff4655; 
    transform: scaleX(0); 
    transform-origin: center; 
    transition: transform 0.3s ease-in-out; 
    opacity: 0; 
}

nav ul li a:hover::after {
    transform: scaleX(1); 
    opacity: 1; 
}

/* Media query for mobile devices */
@media (max-width: 600px) {
    header h1 {
        font-size: 1.8em;
    }

    nav ul li a {
        padding: 10px;
        font-size: 0.9em;
    }
}

@media (max-width: 400px){
    header h1 {
        font-size: 1.8em;
    }

    nav ul li a {
        padding: 5px;
        font-size: 0.7em;
    }
}
